@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

hmtl {
  font-family: 'Poppins', sans-serif;
}

body { 
  height: 100vh;
}

.site {
  display: grid;
  padding: 10px 30px;
  border: 3px solid #000;
  grid-template-columns: minmax(328px, auto) 1fr;
  grid-template-rows: minmax(100px, auto) 1fr 1fr;
  grid-template-areas: "sidebar header"
            "sidebar main";
  column-gap: 10px;
  row-gap: 10px;
}

#header {
  border: 5px solid blueviolet;
  grid-area: header;
}

#sidebar {
  background-color: #273c75;
  grid-area: sidebar;  
  grid-auto-rows: 1fr minmax(100px, auto) 1fr;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  color: #fff;
  padding: 20px auto;
}

.bar-div {
  display: inline-grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 100px auto;
  row-gap: 60px;
}

.logo {
  grid-column: 2;
  grid-row: 1;
  align-items: center;
  justify-content: center;
}

.title { 
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }

.menu-container {
  grid-column: 2;
}

.settings-container {
  grid-column: 2;
  padding-bottom: 30px;
}

.menu-item,
.settings-item {
  list-style: none;
  font-family: 'Poppins', sans-serif; 
  font-size: 1.3rem;
  letter-spacing: 1.5%;
  align-items: center;
  margin: 0 auto;
  font-weight: 300;
}

#content {
  border: 5px solid coral;
  grid-area: main;
}